<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload an image</h1>
    <form enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="button" onclick="uploadImage()">Upload</button>
    </form>

    <h1 id="result"></h1>

    <script>
        function uploadImage() {
            var form = document.querySelector('form');
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', `http://127.0.0.1:7000/predict`);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var resultDiv = document.querySelector('#result');
                    resultDiv.innerHTML = response.result;
                } else {
                    alert('Error: ' + xhr.status);
                }
            };
            xhr.send(formData);
        }
    </script>
</body>
</html>
